---
layout: default
title: Jo Hayduk Designs-Gallery
permalink: "/gallery/"
images:
  - image_path: /jhdesigns_website/images/Gallery01_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery01_thumb_150x150.jpg
    title: Joanna wedding dress - getting ready
  - image_path: /jhdesigns_website/images/Gallery02_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery02_thumb_150x150.jpg
    title: Joanna wedding dress with knitted shrug
  - image_path: /jhdesigns_website/images/Gallery03_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery03_thumb_150x150.jpg
    title: Joanna wedding dress back detail
  - image_path: /jhdesigns_website/images/Gallery04_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery04_thum_150x150.jpg
    title: Joanna wedding dress weaving
  - image_path: /jhdesigns_website/images/Gallery05_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery05_thumb_150x150.jpg
    title: Bridesmaids flower brooches from wedding dress scraps
  - image_path: /jhdesigns_website/images/Gallery06_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery06_thumb_150x150.jpg
    title: Joanna wedding dress
  - image_path: /jhdesigns_website/images/Gallery07_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery07_thumb_150x150.jpg
    title: Carolyn wedding dress
  - image_path: /jhdesigns_website/images/Gallery08_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery08_thumb_150x150.jpg
    title: Carolyn wedding dress - lace detail
  - image_path: /jhdesigns_website/images/Gallery09_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery09_thumb_150x150.jpg
    title: Carolyn wedding dress
  - image_path: /jhdesigns_website/images/Gallery10_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery10_thumb_150x150.jpg
    title: Blue velvet bodice evening dress
  - image_path: /jhdesigns_website/images/Gallery11_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery11_thumb_150x150.jpg
    title: Tunic from recycled silk
  - image_path: /jhdesigns_website/images/Gallery12_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery12_thumb_150x150.jpg
    title: 1930s inspired outfit
  - image_path: /jhdesigns_website/images/Gallery13_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery13_thumb_150x150.jpg
    title: Beading detail
  - image_path: /jhdesigns_website/images/Gallery14_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery14_thumb_150x150.jpg
    title: 1930s inspired outfit
  - image_path: /jhdesigns_website/images/Gallery15_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery15_thumb_150x150.jpg
    title: 1920s inspired flapper pleated dress
  - image_path: /jhdesigns_website/images/Gallery16_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery16_thumb_150x150.jpg
    title: Pleat detail
  - image_path: /jhdesigns_website/images/Gallery17_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery17_thumb_150x150.jpg
    title: Dress with recycled scarf bodice and silver obi belt
  - image_path: /jhdesigns_website/images/Gallery18_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery18_thumb_150x150.jpg
    title: Recycled scarf dress detail
  - image_path: /jhdesigns_website/images/Gallery19_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery19_thumb_150x150.jpg
    title: Silver obi belt
  - image_path: /jhdesigns_website/images/Gallery20_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery20_thumb_150x150.jpg
    title: Obi belts from recycled fabrics and fabric remnants
  - image_path: /jhdesigns_website/images/Gallery21_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery21_thumb_150x150.jpg
    title: Obi belt worn over purple cowl front jersey top
  - image_path: /jhdesigns_website/images/Gallery22_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery22_thumb_150x150.jpg
    title: Silver obi belt worn over grey tunic
  - image_path: /jhdesigns_website/images/Gallery23_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery23_thumb_150x150.jpg
    title: Upcycled tunc made from a single shirt
  - image_path: /jhdesigns_website/images/Gallery24_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery24_thumb_150x150.jpg
    title: Shirt cuffs used as straps for upcycled tunic
  - image_path: /jhdesigns_website/images/Gallery25_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery25_thumb_150x150.jpg
    title: Silk chiffon wrap top worn with floor length black satin skirt
  - image_path: /jhdesigns_website/images/Gallery26_web.jpg
    image_thumb: /jhdesigns_website/images/Gallery26_thumb_150x150.jpg
    title: Sequin detail on chiffon wrap top
---



<section id="content">
{% include gallery_scripts.html %}

<article>

<ul class="photo-gallery">
  {% for image in page.images %}
    <li><a href = "{{ image.image_path }}" data-lightbox="example-1" data-title="{{ image.title }}">
        <img src="{{ image.image_thumb }}" text="{{ image.title}}" /></a></li>
  {% endfor %}
</ul>

</p>
</article>
</section>
