<nav>
<ul>
<li><a href="alterations/" {% if page.url == "/alterations/" %}class="active"{% endif %} title="Dressmaking and Alterations">Dressmaking and Alterations</a></li>
<li><a href="design/" {% if page.url == "/design/" %}class="active"{% endif %} title="Design">Design</a></li>
<li><a href="eco_wedding/" {% if page.url == "/eco_wedding/" %}class="active"{% endif %} title="Design">Eco Wedding</a></li>
<li><a href="now/" {% if page.url == "/now/" %}class="active"{% endif %} title="NOW">New Once Worn</a></li>
</ul>
</nav>
