<nav>
<ul>
<li><a href="/" {% if page.url == "/" %}class="active"{% endif %} title="Goto the home page">Home</a></li>
<li><a href="/about/" {% if page.url == "/about/" %}class="active"{% endif %} title="About">About</a></li>
<li><a href="/dressmaking/" {% if page.url == "/dressmaking/" %}class="active"{% endif %} 
       title="Dressmaking and design">Dressmaking and Design</a></li>
<li><a href="/gallery/" {% if page.url == "/gallery/" %}class="active"{% endif %} title="Gallery">Gallery</a></li>
<li><a href="/blog/" {% if page.url == "/blog/" %}class="active"{% endif %}title="blog" >Blog</a></li>
<li><a href="/contact/" {% if page.url == "/contact/" %}class="active"{% endif %}title="Contact Us" >Contact</a></li>
</ul>
</nav>
