<nav>
<ul>
<li><a href="{{site.baseurl}}/" {% if page.url == "/" %}class="active"{% endif %} title="Goto the home page">Home</a></li>
<li><a href="{{site.baseurl}}/about/" {% if page.url == "/about/" %}class="active"{% endif %} title="About">About</a></li>
<li><a href="{{site.baseurl}}/dressmaking/" {% if page.url == "/dressmaking/" %}class="active"{% endif %} title="Dress making and design">Dressmaking and Design</a></li>
<li><a href="{{site.baseurl}}/gallery/" {% if page.url == "/gallery/" %}class="active"{% endif %} title="Gallery">Gallery</a></li>
<li><a href="{{site.baseurl}}/blog/" {% if page.url == "/blog/" %}class="active"{% endif %}title="blog" >Blog</a></li>
<li><a href="{{site.baseurl}}/contact/" {% if page.url == "/contact/" %}class="active"{% endif %}title="Contact Us" >Contact</a></li>
</ul>
</nav>
