---
layout: default
title: Jo Hayduk Designs-Blog
permalink: "/blog/"
---


  {% for post in site.posts limit:1 %}
    <a href="/jhdesigns_website/{{ post.url }}"><h2>{{ post.title }}</h2></a>
    <hr/>
    <p> {% if post.thumbnail %}
        <img src="{{ post.thumbnail }}" style="height: 280px" align="left" />
        {% else %}
        <img src="/images/nothumb.jpg" style="height: 280px" align="left" />
        {% endif %}</p>
        <p>&nbsp;</p>
    <p>{{ post.excerpt }} </p>
  {% endfor %}

  <hr/>

  {% for post in site.posts offset:1 %}
    <div class="blog_col">
    <a href="/jhdesigns_website/{{ post.url }}"><h2>{{ post.title }}</h2></a>
        <hr/>
    <p> {% if post.thumbnail %}
        <img src="{{ post.thumbnail }}" style="height: 280px" align="left" />
        {% else %}
        <img src="/images/nothumb.jpg" style="height: 280px" align="left" />
        {% endif %}</p>
        <p>&nbsp;</p>
    <p>{{ post.excerpt }} </p>
   </div>
  {% endfor %}


