---
layout: default
title: Jo Hayduk Designs-Blog
permalink: "/blog/"
---

<p>
Welcome to my blog on sewing, style, sustainability and escaping to the garden
<br>
<br>
</p>

  {% for post in site.posts %}
    <a href="/jhdesigns_website/{{ post.url }}"><h2>{{ post.title }}</h2></a>
    <hr/>
    <div id="group_image">
    <p> {% if post.thumbnail %}
        <img src="{{ post.thumbnail }}" style="height: 280px" align="left" />
        {% else %}
        <img src="/images/nothumb.jpg" style="height: 280px" align="left" />
        {% endif %}</p>
    </div>
        <p>&nbsp;</p>
    <div id="aligned_text">
    <p>{{ post.content | strip_html | truncatewords:50  }} </p>
    </div>
     <hr/>
  {% endfor %}


